@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

body {
  margin: auto;
  width: 100vw;
  height: 100vh;
  background-color: rgb(5 81 96);
  font-family: roboto;
  font-family: 'Rubik', sans-serif;
}

button {
  width: 20%;
  height: 40px;
  font-family: 'Rubik', sans-serif;
}

.display {
  height: 50px;
  width: 95%;
  font-size: 18px;
}

.bg-azulmarino {
  background-color: rgb(3, 49, 58);
}

#pantalla2 {
  font-size: 48px;
  padding-top: 15px;
}